<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tempdata')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-tempdata" class="form-control" name="row[tempdata]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button id="designTemple" type="button" class="btn btn-primary"><i class="fa fa-list"></i>设计模板</button></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Fielddata')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-fielddata" class="form-control" name="row[fielddata]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button id="setFielddata" type="button" class="btn btn-primary"><i class="fa fa-list"></i>设置别名</button></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Exa_image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-exa_image" class="form-control" size="50" name="row[exa_image]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-exa_image" class="btn btn-danger faupload" data-input-id="c-exa_image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp,image/webp" data-multiple="false" data-preview-id="p-exa_image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-exa_image" class="btn btn-primary fachoose" data-input-id="c-exa_image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-exa_image"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-exa_image"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Memo')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-memo" class="form-control" name="row[memo]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="">
        </div>
    </div>
    
    <div id="fieldinfo" class="form-group" style="display: none;">
        <hr />
        <label class="control-label col-xs-12 col-sm-4">设置动态字段别名</label>
        <div class=" col-xs-12 col-sm-6">
            <div class="input-group">
                
                <div class="input-group-addon no-border no-padding">
                    <span><button id="saveFielddata" type="button" class="btn btn-primary"><i class="fa fa-list"></i>保存别名</button></span>
                </div>
            </div>
        </div>
        
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
