<style>
    .btn-bar{
        padding:5px 10px;
        margin-bottom:5px;
    }

    .hiprint-printPaper{
        margin:auto;
        background-color:#fff;
    }

    .lcprint{
        border:1px solid silver;
        flex:1;
        /*margin-bottom:20px;*/
        /*overflow: auto;*/
    }
    .lcprint .well{
        /*height:80vh;*/
        overflow: auto;
        margin-bottom: 0;
    }

</style>

        
<div id="mx1">
    <div class="well btn-bar">
        <a id="handleprintmx1" class="btn btn-warning" href="#" role="button">立即打印</a>
        <a class="btn btn-info pgpre" href="#" role="button" onclick="pageto('#p_mx1',-9999)">首页</a>
        <a class="btn btn-info pgpre" href="#" role="button" onclick="pageto('#p_mx1',-1)">上一页</a>
        <a class="btn btn-info pgnxt" href="#" role="button" onclick="pageto('#p_mx1',1)">下一页</a>
        <a class="btn btn-info pgnxt" href="#" role="button" onclick="pageto('#p_mx1',9999)">尾页</a>
    </div>

    <div class="lcprint">
        <div class="well" id="p_mx1">
        </div>
    </div>
</div>
        

